<div class="jumbotron jumbotron-fluid text-black bg-transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">Travel Gem Explorer</h1>
            </div>
            <div class="col-md-8 d-flex justify-content-end">
                <p class="lead">Your treasure map to uncovering concealed marvels within renowned destinations. Embrace the extraordinary as you discover the heart and soul of your chosen destination, one hidden gem at a time.</p>
            </div>
        </div>
    </div>
</div>

{{> whereToGo}}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="about-image.jpg" alt="About Us Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
        </div>
    </div>
</div>