<div class="jumbotron jumbotron-fluid text-black bg-transparent header">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-8 text-right">
                <br>
                <br>
                <h1 class="display-4">travel gem explorer</h1>
                <br>
                <p class="lead text-white quote">"Seek the beauty in the unnoticed, the extraordinary in the familiar, and the magic in the mundane."</p>
            </div>
        </div>
    </div>
</div>

{{> where-to-go}}

<div class="container my-4">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <button class="btn button" data-toggle="modal" data-target="#addNewModal">Add New Destination</button>
            {{> add-new}}
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/public/images/about-image.jpg" alt="About Us Image" class="img-fluid">
            </div>
            <div class="col-md-4">
                <br>
                <h2>About Us</h2>
                <br>
                <p>
                    We are travelers, adventurers, and seekers of hidden wonders. Through the Travel Gem Explorer, we invite you to transcend tourist trails and delve into the depths of renowned destinations. Beyond iconic landmarks, we discover concealed treasures and uncharted gems. With a passion for authenticity, we unveil the extraordinary in the familiar. Join us in uncovering the magic that transforms your journey into a revelation – one concealed marvel at a time.
                </p>
            </div>
        </div>
    </div>
</div>
