<div class="jumbotron jumbotron-fluid text-black bg-transparent header">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-8 text-right">
                <h1 class="display-4">travel gem explorer</h1>
                <br>
                <p class="lead text-black">Your treasure map to uncovering concealed marvels within renowned destinations. Embrace the extraordinary as you discover the heart and soul of your destination, <br> one hidden gem at a time.</p>
            </div>
        </div>
    </div>
</div>

{{> whereToGo}}

<div class="container my-4">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <button class="btn button" data-toggle="modal" data-target="#addNewModal">Add New Destination</button>
            {{> add-new}}
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid" id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/about-image.jpg" alt="About Us Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            </div>
        </div>
    </div>
</div>