/* Default styles */
.header {
  background-image: url('../images/header-image.jpg');
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.content {
  min-height: 80vh;
}

.footer {
  padding: 20px;
  background-color: rgb(138, 152, 117);
  opacity: 60%;
  color: white;
  text-align: center;
  margin-top: auto;
}

.social-icon {
  font-size: 24px;
  color: white;
}

.side-box {
  border: 1px solid #969393;
  border-radius: 5px;
  margin: 10rem 0;
  padding: 4rem 2rem 2.8rem;
  position: relative;
  color: white;
}

.side-box h4 {
  margin: 0;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(138, 152, 117);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.title {
  padding: 3rem 0;
  font-size: 4rem;
  font-weight: bold;
  text-transform: lowercase;
  white-space:nowrap;
}

.image-container {
  margin-top: 8rem;
  height: min(100vh, 800px);
  padding: 2rem 0;
  overflow: hidden;
}

.title-overlay {
  position: absolute;
  top: -1rem;
  left: -4rem;
  color: black;
  text-align: left;
}

.comments-container {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.quote {
  font-style: italic;
  font-weight: 350;
}

.comment {
  border-bottom: 0.5px solid grey;
  padding: 0.2rem;
  margin: 0.5rem 0;
}

.comment-form {
  padding-bottom: 2rem;
}

.sidebar {
  margin-top: 3rem;
}

.about-me {
  margin-bottom: 20px;
  padding: 20px;
}

.card {
  margin-bottom: 1rem;
}

.card-deck {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  gap: 1rem; /* Add some spacing between cards */
}
.card-link {
  color: rgb(138, 152, 117);
}
.card-image {
  height: 200px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.card-body {
  font-size: 15px;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
}

.navbar-brand {
  font-size: 1.5rem;
  white-space: nowrap;
}

.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.navbar-button {
  font-size: 1rem;
  background-color: rgb(138, 152, 117);
  opacity: 70%;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: 0.3s ease;
}

#about-us {
  margin-bottom: 0;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: 15px;
  padding-right: 15px;
}

#destination-cards {
  margin-bottom: 50px;
}

#destination-cards h1 {
  font-size: 5rem;
  padding: 2rem 0;
  font-weight: bold;
}

.button {
  background-color: rgb(138, 152, 117);
  opacity: 70%;
  color: white;
  border: none;
}

#destination-image {
  max-height: 50vh;
}

/* Media queries */
@media (max-width: 900px) {
  .image-container {
    padding: 0;
  }
  .title {
    font-size: 3.5rem;
    white-space:normal;
    text-align: center;
  }
  .title-overlay {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    white-space:normal;
    padding: 0;
  }
  .image-container {
    margin-top: 2rem;
    height: min(100vh, 800px);
    padding: 0;
    overflow: hidden;
  }
  .side-box h4 {
    top: -25px;
  }
 
.sidebar-card {
  width: 200px; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px; 
}
}

@media (max-width: 576px) {
  .side-box h4 {
    top: -25px;
  }
  .title {
    font-size: 2rem;
    margin: 1rem;
  }
  .title-overlay {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    white-space:normal;
    padding: 0;
  }
  .image-container {
    margin-top: 2rem;
    height: min(100vh, 800px);
    padding: 0;
    overflow: hidden;
  }
  .navbar-brand {
    font-size: 1rem;
  }
  .navbar-buttons {
    flex-direction: column;
  }
  .navbar-button {
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
  }
}
