.header {
  background-image: url('../images/header-image.jpg');
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.content {
  min-height: 80vh;
}

.footer {
  padding: 20px;
  background-color: rgb(138, 152, 117);
  opacity: 60%;
  color: white;
  text-align: center;
  margin-top: auto;
}

.social-icon {
  font-size: 24px;
  color:white;
}

.image-container {
  height: min(80vh, 800px); 
  padding-bottom: 50px;
  overflow: hidden; /* Crop image if necessary */
}

#about-us {
  margin-bottom: 0;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: 15px;
  padding-right: 15px;
}

#destination-cards {
  margin-bottom: 50px;
}

.button {
  background-color: rgb(138, 152, 117);
  opacity: 70%;
  color:white;
  border:none;
}

#destination-image {
  max-height: 50vh;
}

