<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App Preview</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/Project 2/public/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">travel gem explorer</a>
        <div class="ml-auto">
            {{#if loggedIn}}
            <button id="logout" class="btn btn-primary">Log Out</button>
            {{else}}
            <button class="btn btn-primary">Log In</button>
            <button class="btn btn-secondary ml-2">Sign Up</button>
            {{/if}}
        </div>
    </div>
</nav>

{{{ body }}}

<footer class="bg-dark text-white py-3">
    <div class="container text-center">
        <a href="#"><i class="fab fa-facebook-f mx-2"></i></a>
        <a href="#"><i class="fab fa-twitter mx-2"></i></a>
        <a href="#"><i class="fab fa-instagram mx-2"></i></a>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
